body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container svg {
  width: 100%;
  height: 100%;
}

#rightwheel, #leftwheel {
  animation: wheel 3s infinite linear;
  transform-origin: center;
  transform-box: fill-box; 

}

@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}